.gamipress-ai-assistant {
    position: fixed;
    bottom: 30px;
    right: 25px;
    display: flex;
    gap: 12px;
    justify-content: end;
    z-index: 99999;
}

/* Buttons */
.gamipress-ai-assistant-button {
    display: inline-block;
    padding: 8px 10px;
    cursor: pointer;
    user-select: none;
    vertical-align: bottom;

    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 40, 100, 0.1);

    transition: all ease-in-out 150ms;
}

.gamipress-ai-assistant-button:hover,
.gamipress-ai-assistant-button:focus {
    border-color: var( --wp-admin-theme-color );
    box-shadow: 0 1px 6px rgba(0, 40, 100, 0.2);
}

.gamipress-ai-assistant-button[disabled="disabled"] {
    opacity: 0.2;
    cursor: not-allowed;
}

.gamipress-ai-assistant-button-primary {
    color: #fff;

    background-color: var(--wp-admin-theme-color);
    border-color: var(--wp-admin-theme-color);
}

.gamipress-ai-assistant-button-primary .gamipress-ai-assistant-icon:before {
    background-color: #fff;
}

.gamipress-ai-assistant-button-primary:hover,
.gamipress-ai-assistant-button-primary:focus {
    background-color: var(--wp-admin-theme-color-darker-10);
}

/* Icons */
.gamipress-ai-assistant-icon:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #50575e;

    vertical-align: text-top;

    mask-size: 100%;
}

.gamipress-ai-assistant-icon-send:before { mask-image: url('../img/send.svg'); }

/* Bubble */
.gamipress-ai-assistant .gamipress-ai-assistant-bubble {
    width: 70px;
    min-width: 70px;
    height: 70px;
    align-self: flex-end;
    user-select: none;

    box-shadow: 0 3px 6px rgba(0, 20, 80, 0.35);
    border-radius: 100%;

    transition: box-shadow ease-in-out 150ms;
}

.gamipress-ai-assistant .gamipress-ai-assistant-bubble:hover {
    box-shadow: 0 3px 12px rgba(0, 20, 80, 0.55);
}

.gamipress-ai-assistant .gamipress-ai-assistant-face {

}

/* Face animations */
.gamipress-ai-assistant .gamipress-ai-assistant-face {
    position: relative;
    cursor: pointer;
}

.gamipress-ai-assistant .gamipress-ai-assistant-face img {
    position: absolute;
    width: 100%;
    display: none;
}

.gamipress-ai-assistant-face img[data-key="head-01"] { display: block; }

.gamipress-ai-assistant-face[data-status="idle"]:not(:hover) [data-key="eyes-idle"],
.gamipress-ai-assistant-face[data-status="idle"]:not(:hover) [data-key="mouth-smile"] {
    display: block;
}

.gamipress-ai-assistant-face[data-status="idle"]:hover [data-key="eyes-happy"],
.gamipress-ai-assistant-face[data-status="idle"]:hover [data-key="mouth-happy"] {
    display: block;
}

.gamipress-ai-assistant-face[data-status="happy"] [data-key="eyes-happy"],
.gamipress-ai-assistant-face[data-status="happy"] [data-key="mouth-happy"] {
    display: block;
}

.gamipress-ai-assistant-face[data-status="smile"] [data-key="eyes-happy"],
.gamipress-ai-assistant-face[data-status="smile"] [data-key="mouth-smile"] {
    display: block;
}

.gamipress-ai-assistant-face[data-status="talking"] [data-key="eyes-idle"],
.gamipress-ai-assistant-face[data-status="talking"] [data-key="mouth-idle"],
.gamipress-ai-assistant-face[data-status="talking"] [data-key="mouth-happy"] {
    display: block;
}

.gamipress-ai-assistant-face[data-status="talking"] [data-key="mouth-happy"] {
    animation: opacity-3-steps .3s infinite 1ms steps(1, end);
}

.gamipress-ai-assistant-face[data-status="error"] [data-key="eyes-error"],
.gamipress-ai-assistant-face[data-status="error"] [data-key="mouth-error"] {
    display: block;
}

.gamipress-ai-assistant-face[data-status="loading"] [data-key="eyes-loading"] {
    display: block;
}

@keyframes opacity-3-steps {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 0;}
}

/* Chat */
.gamipress-ai-assistant .gamipress-ai-assistant-chat {
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0, 20, 80, 0.15);
    border: 1px solid #ddd;
    background: #fff;
    position: relative;

    width: 420px;
}

.gamipress-ai-assistant .gamipress-ai-assistant-chat .gamipress-ai-assistant-chat-top {
    padding: 10px 12px;
}

.gamipress-ai-assistant .gamipress-ai-assistant-chat .gamipress-ai-assistant-chat-top .gamipress-ai-assistant-chat-title {
    display: inline-block;
    font-size: 16px;
}

.gamipress-ai-assistant .gamipress-ai-assistant-chat .gamipress-ai-assistant-chat-top .gamipress-ai-assistant-chat-title > span {
    color: #0098d7;
}

.gamipress-ai-assistant .gamipress-ai-assistant-chat .gamipress-ai-assistant-chat-top .gamipress-ai-assistant-chat-help-button {
    display: inline-block;
    margin-left: 2px;
    margin-top: -1px;
}

.gamipress-ai-assistant .gamipress-ai-assistant-chat .gamipress-ai-assistant-chat-top .gamipress-ai-assistant-chat-help-button .cmb-tooltip {
    cursor: pointer;
}

.gamipress-ai-assistant .gamipress-ai-assistant-chat .gamipress-ai-assistant-chat-top .gamipress-ai-assistant-chat-help-button .cmb-tooltip .dashicons {
    opacity: 0.3;
}

.gamipress-ai-assistant .gamipress-ai-assistant-chat .gamipress-ai-assistant-chat-top .gamipress-ai-assistant-chat-help-button .cmb-tooltip .dashicons:before {
    font-size: 12px;
    width: 12px;
}

.gamipress-ai-assistant .gamipress-ai-assistant-chat .gamipress-ai-assistant-chat-top .gamipress-ai-assistant-chat-help-button .cmb-tooltip .cmb-tooltip-desc {
    width: auto;
    min-width: 100px;
}

.gamipress-ai-assistant .gamipress-ai-assistant-chat .gamipress-ai-assistant-chat-top .gamipress-ai-assistant-chat-close-button {
    float: right;
    cursor: pointer;
}

.gamipress-ai-assistant .gamipress-ai-assistant-chat .gamipress-ai-assistant-chat-top .gamipress-ai-assistant-chat-close-button .cmb-tooltip .cmb-tooltip-desc {
    width: auto;
}

.gamipress-ai-assistant .gamipress-ai-assistant-chat .gamipress-ai-assistant-chat-history {
    height: 350px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: #f6f7f7;
    padding: 10px 12px;
    overflow-y: auto;
}

.gamipress-ai-assistant .gamipress-ai-assistant-chat .gamipress-ai-assistant-chat-history .gamipress-ai-assistant-message {
    padding: 8px 10px;
    border-radius: 6px 6px 0 6px;
    width: fit-content;

    margin-bottom: 12px;

    border: 1px solid #ddd;
    box-shadow: 0 1px 2px rgba(0, 40, 100, 0.1);
    background: #fff;
}

.gamipress-ai-assistant .gamipress-ai-assistant-chat .gamipress-ai-assistant-chat-history .gamipress-ai-assistant-message p {
    margin: 0 !important;
}

.gamipress-ai-assistant .gamipress-ai-assistant-chat .gamipress-ai-assistant-chat-history .gamipress-ai-assistant-message[data-author="model"] {

}

.gamipress-ai-assistant .gamipress-ai-assistant-chat .gamipress-ai-assistant-chat-history .gamipress-ai-assistant-message[data-author="user"] {
    color: #fff;
    background-color: var(--wp-admin-theme-color);
    border-color: var(--wp-admin-theme-color);
    border-radius: 6px 6px 6px 0;

    margin-left: auto;
    margin-right: 0;
}

.gamipress-ai-assistant .gamipress-ai-assistant-chat .gamipress-ai-assistant-chat-history .gamipress-ai-assistant-message-error {
    background-color: #cc1818;
    color: #fff;
}

.gamipress-ai-assistant .gamipress-ai-assistant-chat .gamipress-ai-assistant-chat-history .gamipress-ai-assistant-loading-message:after {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    opacity: 0.7;
    width: 14px;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side,#3c434a 90%,#0000);
    background:
            var(--_g) 0%   50%,
            var(--_g) 50%  50%,
            var(--_g) 100% 50%;
    background-size: calc(100%/3) 30%;
    animation: dot-loading 1s infinite linear;
}
@keyframes dot-loading {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}

.gamipress-ai-assistant .gamipress-ai-assistant-chat .gamipress-ai-assistant-chat-history .gamipress-ai-assistant-message ul {
    list-style-type: disc;
    margin-left: 2em;
}

.gamipress-ai-assistant .gamipress-ai-assistant-chat .gamipress-ai-assistant-chat-bottom {
    padding: 10px 12px;
}

.gamipress-ai-assistant .gamipress-ai-assistant-chat .gamipress-ai-assistant-chat-input {
    width: calc(90% - 12px);
    margin-right: 6px;
}

.gamipress-ai-assistant .gamipress-ai-assistant-chat .gamipress-ai-assistant-chat-input-submit {
    height: fit-content;
    vertical-align: top;
}

.gamipress-ai-assistant .gamipress-ai-assistant-chat .gamipress-ai-assistant-chat-model-input {
    min-height: auto;
    line-height: 1;
    border: none;
    font-size: 12px;
    padding: 6px 8px;
    font-weight: 500;
    opacity: 0.7;
    width: 118px;
}

.gamipress-ai-assistant .gamipress-ai-assistant-chat .gamipress-ai-assistant-chat-model-input:hover {
    background-color: rgb(53 56 73 / 10%);
}

/* Tooltip fixes */
.gamipress-ai-assistant .cmb-tooltip-desc {
    opacity: 0;
    transition: opacity 0.3s;
    transform: translateX(9999px);
    position: fixed;
}

.gamipress-ai-assistant .gamipress-ai-assistant-bubble.cmb-tooltip .cmb-tooltip-left {
    width: 100%;
    top: 20%;
    left: -150%;
}

/* Help */
.gamipress-ai-assistant .gamipress-ai-assistant-help {
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0, 20, 80, 0.15);
    border: 1px solid #ddd;
    background: #fff;
    padding: 10px 12px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: -452px;
    height: 478px;
    width: 396px;
}

.gamipress-ai-assistant .gamipress-ai-assistant-help .gamipress-ai-assistant-help-presentation {
    margin-bottom: 10px;
}

.gamipress-ai-assistant .gamipress-ai-assistant-help .gamipress-ai-assistant-help-ability {
    margin-left: -12px;
    margin-right: -12px;
    border-top: 1px solid #ddd;
}

.gamipress-ai-assistant .gamipress-ai-assistant-help .gamipress-ai-assistant-help-ability:first-of-type {
    margin-top: 10px;
}

.gamipress-ai-assistant .gamipress-ai-assistant-help .gamipress-ai-assistant-help-ability:last-of-type {
    border-bottom: 1px solid #ddd;
}

.gamipress-ai-assistant .gamipress-ai-assistant-help .gamipress-ai-assistant-help-ability .gamipress-ai-assistant-help-ability-label {
    font-weight: 500;
    padding: 6px 8px;
    cursor: pointer;
    user-select: none;
}

.gamipress-ai-assistant .gamipress-ai-assistant-help .gamipress-ai-assistant-help-ability .gamipress-ai-assistant-help-ability-label:hover {
    background-color: #f6f7f7;
}

.gamipress-ai-assistant .gamipress-ai-assistant-help .gamipress-ai-assistant-help-ability .gamipress-ai-assistant-help-ability-label .dashicons {
    font-size: 18px;
    vertical-align: sub;
}

.gamipress-ai-assistant .gamipress-ai-assistant-help .gamipress-ai-assistant-help-ability .gamipress-ai-assistant-help-ability-label .dashicons.dashicons-awards,
.gamipress-ai-assistant .gamipress-ai-assistant-help .gamipress-ai-assistant-help-ability .gamipress-ai-assistant-help-ability-label .dashicons.dashicons-gamipress {
    color: #0098d7;
}

.gamipress-ai-assistant .gamipress-ai-assistant-help .gamipress-ai-assistant-help-ability .gamipress-ai-assistant-help-ability-label .dashicons.dashicons-star-filled {
    color: #febd17;
}

.gamipress-ai-assistant .gamipress-ai-assistant-help .gamipress-ai-assistant-help-ability .gamipress-ai-assistant-help-ability-label .dashicons.dashicons-rank {
    color: #46b450;
}

.gamipress-ai-assistant .gamipress-ai-assistant-help .gamipress-ai-assistant-help-ability .gamipress-ai-assistant-help-ability-label .dashicons.dashicons-heart {
    color: #fa5656;
}

.gamipress-ai-assistant .gamipress-ai-assistant-help .gamipress-ai-assistant-help-ability .gamipress-ai-assistant-help-ability-label .dashicons.dashicons-flag {
    color: #9a40a9;
}

.gamipress-ai-assistant .gamipress-ai-assistant-help .gamipress-ai-assistant-help-ability .gamipress-ai-assistant-help-ability-label .dashicons.dashicons-admin-tools {
    color: #999;
}

.gamipress-ai-assistant .gamipress-ai-assistant-help .gamipress-ai-assistant-help-ability .gamipress-ai-assistant-help-ability-label .dashicons-arrow-up-alt2 {
    float: right;
}

.gamipress-ai-assistant .gamipress-ai-assistant-help .gamipress-ai-assistant-help-ability-open .gamipress-ai-assistant-help-ability-label .dashicons-arrow-up-alt2:before {
    content: "\f347";
}

.gamipress-ai-assistant .gamipress-ai-assistant-help .gamipress-ai-assistant-help-ability .gamipress-ai-assistant-help-ability-desc {
    background: #f6f7f7;
    padding: 8px 10px;
    border-top: 1px solid #ddd;
}

.gamipress-ai-assistant .gamipress-ai-assistant-help .gamipress-ai-assistant-help-ability .gamipress-ai-assistant-help-ability-desc:before {
    display: none;
}

.gamipress-ai-assistant .gamipress-ai-assistant-help .gamipress-ai-assistant-help-ability .gamipress-ai-assistant-help-ability-desc .gamipress-ai-assistant-help-ability-desc-text {
    margin-bottom: 10px;
}

.gamipress-ai-assistant .gamipress-ai-assistant-help .gamipress-ai-assistant-help-ability .gamipress-ai-assistant-help-ability-prompts {

}

/* Prompt Sample */
.gamipress-ai-assistant .gamipress-ai-assistant-prompt {
    display: inline-block;
    padding: 6px 8px;
    border-radius: 6px;
    margin-top: 8px;
    font-weight: 500;
    text-decoration: none;
    font-size: 12px;
    background: rgb(53 56 73 / 15%);
}

.gamipress-ai-assistant .gamipress-ai-assistant-send-prompt {
    cursor: pointer;
}

.gamipress-ai-assistant .gamipress-ai-assistant-send-prompt .dashicons {
    color: #aaa;
    font-size: 18px;
    margin-top: 2px;
    margin-bottom: -4px;
}

.gamipress-ai-assistant .gamipress-ai-assistant-send-prompt:hover .dashicons {
    color: var( --wp-admin-theme-color );
}

.gamipress-ai-assistant .gamipress-ai-assistant-send-prompt .cmb-tooltip-desc {
    width: max-content;
    font-size: 12px;
    padding: 4px 6px !important;
    left: 0;
    transform: translateX(0) !important;
}

.gamipress-ai-assistant .gamipress-ai-assistant-send-prompt .cmb-tooltip-desc:after {
    left: 8px;
}
